// Flexbox
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

// Animations
@mixin slide-in-left($from, $to) {
    @keyframes slide-in-left {
        from {
            transform: translateX($from);
        }
        to {
            transform: translateX($to);
        }
    }
}
@mixin slide-in-up($from, $to) {
    @keyframes slide-in-up {
        from {
            transform: translateY($from);
        }
        to {
            transform: translateY($to);
        }
    }
}
@mixin fade-in($from, $to) {
    @keyframes fade-in {
        from {
            opacity: translateX($from);
        }
        to {
            opacity: translateX($to);
        }
    }
}

// Media Queries
@mixin for-phone-only {
    @media (min-width: 599px) {
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}
